
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9; 
    color: #333333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px; 
}


#root > div {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; 
}


#root > div h1 {
    font-size: 2.5em;
    color: #007bff; 
    margin-bottom: 10px;
    font-weight: 700;
}


#root > div p {
    font-size: 1.1em;
    color: #6c757d; 
    margin-bottom: 40px;
}


@media (max-width: 600px) {
    body {
        padding-top: 30px;
    }

    #root > div h1 {
        font-size: 2em;
    }

    #root > div p {
        font-size: 1em;
        margin-bottom: 30px;
    }
}
